<div class="row">
  <div class="col s12 m8 l8 offset-m2 offset-l2">
    <h1>Shorten your URL!</h1>
    <%= render "shorteners/form" %>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 l8 offset-m2 offset-l2">
    <%= @link %>
  </div>
</div>
